.tabela>tbody>tr>td{
    padding:8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    
}

h5{
  text-align: center;
  align-items: center;
}
caption {
  caption-side: top;
  font-size: 15px;
  
}

thead{
  font-size: 12px ;
   background: #383838; 
   color: #fff;
   text-align:center;
}
h5{
  text-align: center;
  align-items: center;
}
thead td{
  font-size: 11px ;
   background: #383838; 
   color: #fff;
   text-align:center;
}

.table{
  border:0px;
  padding: 2px;
  font-size: 10px;
  align-items: center;
  border: 2px;
  vertical-align: middle;
}
.table>tbody>tr>td{
  padding: 5px;
  font-size: 11px;
}


.fieldset-border {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  box-shadow: 0px 0px 0px 0px #000;
  width: 100%;
  height: 100%;
}

.fieldset-border .legend-border {
  font-size: 0.9em !important;
  text-align: left !important;
  width: auto;
  padding: 0 10px;
  border-bottom: none;
}

.titulotable{
  font-weight: lighter;
}
.flex-item {
  display: flex;
  flex-direction: column;
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  align-items: center;
}

.col-sm-9{
    height: 90%;
    margin-left: 351px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.linha{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;


}

.lar{
  width: 35%;
  justify-content: space-around;
  margin-right: 5px;
}

.nav-side-menu {
  overflow: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
  font-weight: 200;
  background-color: white;
  position: fixed;
  top: 0px;
  width: 340px;
  height: 100%;
  color: black;
  border-right: 1px solid black;
}
.nav-side-menu .brand {
  background-color: white;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;

}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid lightblue;
  background-color: white;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: black;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: black;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: rgb(177, 192, 207);
  border: none;
  line-height: 28px;
  border-bottom: 1px solid black;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: rgb(82, 112, 141);
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid lightblue;
  border-bottom: 1px solid black;
}
.nav-side-menu li a {
  text-decoration: none;
  color: black;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid black;
  background-color: #9cc0e9;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;

  }
   
  

  .table-bordered{
    margin-left: 10px !important;
  }

  #grafico{
    margin-left: 10px !important;
  }
  
  #rodape{
    margin-left: 10px !important;
    right: 25% !important;
    bottom: 0% !important;
    position: fixed !important;
    visibility: hidden !important;
  }

  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }

}

body {
  margin: 0px;
  padding: 0px;
}

#selectAlgoritmo{
  width: 90%;
  margin: auto;

}

#selectExemplo{
  width: 90%;
  margin: auto;

}

#processo{
  width: 70%;
  margin: auto;
  margin-top: 9px;
  margin-bottom: 9px;
}

#chegada{
  width: 70%;
  margin: auto;
  margin-top: 9px;
  margin-bottom: 9px;
}

#execucao{
  width: 70%;
  margin: auto;
  margin-top: 9px;
  margin-bottom: 9px;
}

#prioridade{
  width: 70%;
  margin: auto;
  margin-top: 9px;
  margin-bottom: 9px;
}

/* #btnCad{
  background-color: #008000;
  margin: auto;
  width: 120px;

}

#btnCan{
  background-color: #B22222;
  margin: auto;
  width: 120px;
} */

#quantum{
  width: 70%;
  margin: auto;
  margin-top: 9px;
  margin-bottom: 9px;
}

#cpus{
  width: 70%;
  margin: auto;
  margin-top: 9px;
  margin-bottom: 9px;
}

#tabelaProcesso{
  margin:auto;
  font-size: 9px;
  margin-left: 2px;

}

/* #btnSimular{
  background-color: #1E90FF;
  margin-top: 9px;
  height: 45px;
}

#btnCanSimu{
  background-color: #B22222;
  margin-top: 9px;
  height: 45px;
} */

#btnPauseSimu{
  background-color: #008B8B;  /*Botao pausar simulacao*/
  margin-top: 9px;
  height: 45px;
}

#btnSimular:hover{
  background-color: #005cbe;
}

.nav-side-menu{
  font-size: 14px;

}

#display{
  background: #000000;
}

#media{
    height: 100%;
    width: 880px;
    margin-left: 400px;
    margin-right: 1px;

}

#estados{
  margin-left: 350px;
  margin-right: 20px;
}

#result{
  margin-left: 350px;
  margin-right: 20px;

}
#grafico{
  margin-left: 350px;
  margin-right: 20px;
}

#rodape{
  margin-left: 350px;
  right: 390px; 
  position: fixed;
  bottom: 0;
}

#tabelaExec{
  align-items: center;
  padding: 5px 0px; 
  width: 300px;
  font-size: 20px;
  column-span: 3px;
  width: auto;
    
    
}

.col-sm-12 {
  margin-left: 40px;
}

.col-sm-offset-1{
  margin-right: 20px;
}

/*ANIMACAO DO STATUS CPU*/
.ng-enter {
  -webkit-transform: scale(0);
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out-cubic;
  -webkit-transition-duration: 400ms;
}

.ng-enter.ng-enter-active {
  -webkit-transform: scale(1);
}

@media print{
    table{ page-break-inside:avoid; }
}

@media screen and (max-width: 768px){
  .col-sm-9, #grafico, #result{
    margin-left: 0 !important;
  }
  .footer{
    visibility: hidden !important;
  }

}

#chart_div{
  width: 100%;
  height: auto;
}
